 <div class="row">
      <div class="card">
        <div class="card-inner">
          <div class="card-front">
            <img src="assets/images/swordman.png">
          </div>
          <div class="card-back">
            <h3>Gareth Steelblade</h3>
            <p>The valiant swordsman who wields his blade with unmatched skill and honor.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-inner">
          <div class="card-front">
            <img src="assets/images/woman.png">
          </div>
          <div class="card-back">
            <h3>Elena Shadowweaver</h3>
            <p>The cunning witch whose mastery of magic is as mysterious as the shadows she commands.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-inner">
          <div class="card-front">
            <img src="assets/images/workman.png">
          </div>
          <div class="card-back">
            <h3>Master Orlan Stonecraft</h3>
            <p>The wise craftsman whose hands shape not only metal but the fate of those who seek his counsel</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="card">
        <div class="card-inner">
          <div class="card-front">
            <img src="assets/images/gobin.png">
          </div>
          <div class="card-back">
            <h3 >Snikklewit</h3>
            <p>The mischievous goblin spy whose tiny stature belies his sharp intellect and knack for gathering secrets.</p>
          </div>
        </div>
      </div>
    </div>