<h2></h2>
<div class="row justify-content-center mt-4" style="margin-left: 80px;">
    <div class="col-md-3">
      <div class="card" style="width: 18rem; margin-top: 10px;">
        <img src="assets/images/lake.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">In this atmospheric swamp map, twisted trees and eerie torchlight set the stage for a treacherous journey, 
            where glowing eyes and demonic beasts await in the murky depths.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem; margin-top: 10px;">
        <img src="assets/images/forest.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Venture into a foreboding forest map, where eerie mist swirls through lifeless trees and the ground is 
            littered with the grotesque forms of the infected.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem; margin-top: 10px;">
        <img src="assets/images/cave.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Delve into the shadowy recesses of a treacherous cave, where untold wealth awaits, 
            fiercely protected by Beajron, the deadly, enchanted bear. worthy is the one who defeats it.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem; margin-top: 10px;">
        <img src="assets/images/village.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Wander through a forsaken village map where open graves and dark enchantments fill the air, 
            as witches wield their sinister magic for their power is beyond.
          </p>
        </div>
      </div>
    </div>
  </div>
